{% extends "web/base.html" %}
{% load static %}

{% block pagelink %}
    <link rel="stylesheet" href="{% static "web/plugins/bootstrap-validator/css/bootstrapValidator.min.css" %}">
    <link rel="stylesheet" href="{% static "web/plugins/bootstrap-table/bootstrap-table.min.css" %}">
{% endblock %}

{% block content %}
    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    {#            <div class="box-header">#}
                    {#              <h3 class="box-title">Data Table With Full Features</h3>#}
                    {#            </div>#}
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="toolbar">
                            <div class="form-group" style="margin-bottom: 0px">
                                <button type="button" class="btn btn-primary btn-flat" data-toggle="modal"
                                        data-target="#myModal">
                                    <i class="glyphicon glyphicon-plus"></i>新增
                                </button>
                                <input type="text" class="form-control toolbar-filter" id="email" name="email"
                                       placeholder="Enter email">
                            </div>

                        </div>
                        <table id="boot_table"></table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
    </section>


{% endblock %}

{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">组织结构编辑</h4>

                </div>
                <form id="form_default" role="form">
                <div class="modal-body">

                            <div class="form-group">
                                <label for="exampleInputEmail1">隶属于</label>
                                <select type="text" class="form-control" id="parent_tree_id"
                                       placeholder="隶属于（部门，组等）" name="parent_tree_id" data-bv-notempty="true">
                                    <option value="0">无</option>
                                    {% for o in highest %}
                                        <option value="{{ o.id }}">{{ o.organize_name }}</option>
                                    {% endfor %}
                                    </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">组织名称</label>
                                <input type="text" class="form-control" id="organize_name"
                                       placeholder="组织名称" name="organize_name" data-bv-notempty="true">
                            </div>
                        <!-- /.box-body -->

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary btn-flat">保存</button>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static "web/plugins/bootstrap-validator/js/bootstrapValidator.min.js" %}"></script>
    <script src="{% static "web/plugins/bootstrap-validator/js/language/zh_CN.js" %}"></script>
    <script src="{% static "web/plugins/bootstrap-table/bootstrap-table.min.js" %}"></script>
    <script src="{% static "web/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js" %}"></script>
    <script src="{% static "web/plugins/jquery-form/jquery.form.min.js" %}"></script>
    <script>
        var PUB_URL = {
            'organizeManage': '{% url 'organizeManage' %}',
            'saveOrganize': '{% url 'saveOrganize' %}'
        }
    </script>
    <script src="{% static "public/js/p_bootstrap_table.js" %}"></script>
    <script src="{% static "organize/js/organizeManageBoottable.js" %}"></script>
    <script src="{% static "organize/js/organizeManage.js" %}"></script>
{% endblock %}
