{% extends 'web/base.html' %}
{% block sidebar-menu %}

    <li class="active">
          <a href="{% url 'index' %}">
            <i class="glyphicon glyphicon-home"></i> <span>主页</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green">new</small>
            </span>
          </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>a</span>
            <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
        </span>
        </a>
        <ul class="treeview-menu">
            <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> b v1</a></li>
            <li><a href="index2.html"><i class="fa fa-circle-o"></i> c v2</a></li>
        </ul>
    </li>



{% endblock %}