<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{color:#efd;background:#675;padding:0 20em;margin:0}
    </style>
    <style type="text/css">
        body{color:#efd;background:#675;padding:0 20em;margin:0}
        #add_test{font-weight:60;color:#bf8;font-size:20px;background:#675;text-decoration:none}
      </style>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
    <table>
          <tr>
              <td style="height:10em" id="a_test"><a href="http://127.0.0.1:8000/" style="font-weight:700;color:#bf8;padding:2em 1em;font-size:40px;background:#675;text-decoration:none">Blog</a></td>
              <td><h3>Blog is a life style!</h3></td>
          </tr>
    </table>
   {% block content%}
    {% for post in blog_one %}
        <p>{{post.title}}</p>
        <p>{{post.cate}}</p>
        <p>{{post.date}}</p>
        <p>{{post.artical}}</p>
        <!--<p>{{post.img}}</p>-->
        <img src="/upload/{{post.img}}" width="400px" height="200px">
        <br/><br/><br/><br/>
        <a id="add_test" href="http://127.0.0.1:8000/">Return Home Page</a>
    {% endfor%}
   {% endblock%}

</body>
</html>