<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="http://common.cnblogs.com/script/jquery.js"></script>
    <style>
        #test_a{font-weight:30;color:#bf8;font-size:20px;background:#675;text-decoration:none;height:20px}
        #test_h3{font-size:15px}
    </style>
    <title>Blogs</title>
</head>
<body>
{% extends "base.html" %}
   {% block content%}
       {% for post in blogs_list %}
       <input id="usrfull_id" type="hidden" value="{{post.id}}"/>
       <div>
           <table>
               <tr>
                   <td><a id="test_a" href="http://127.0.0.1:8000/detail/">{{ post.title }}</a></td>
                   <td><h3>{{ post.date }}</h3></td>
               </tr>
               <tr>
                   <td><p>{{ post.cate }}</p></td>
               </tr>
               <tr>
                   <td><p>{{ post.artical }}</p></td>
               </tr>
           </table>
       </div>
       <hr style="margin:0px;height:1px;border:0px;background-color:#D5D5D5;color:#D5D5D5"/>
       <br/>
       <br/>
       <br/>
        {% endfor%}
   {% endblock%}
</body>
</html>