<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<script type="text/javascript" src="http://common.cnblogs.com/script/jquery.js"></script>-->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <style>
        .test_a{font-weight:30;color:#bf8;font-size:20px;background:#675;text-decoration:none;height:20px}
        #test_h3{font-size:15px}
        body{color:#efd;background:#675;padding:0 20em;margin:0}
         #add_test1{font-weight:60;color:#bf8;font-size:20px;background:#675;text-decoration:none}
    </style>
    <title>Search</title>
</head>
<body>
 <table>
          <tr>
              <td style="height:10em" id="a_test"><a href="/" style="font-weight:700;color:#bf8;padding:2em 1em;font-size:40px;background:#675;text-decoration:none">Blog</a></td>
              <td><h3>Blog is a life style!</h3></td>
          </tr>
    </table>
   {% block content%}
       {% for post in blogs_lists %}
       <br/>
       <br/>
       <hr style="margin:0px;height:1px;border:0px;background-color:#D5D5D5;color:#D5D5D5"/>
       <br/><br/><br/>
       <div id="blogs_list">
           <!--<input id="usrfull_id" type="hidden" value="{{post.id}}"/>-->
           <table>
               <tr>
                   <td><a id="{{post.id}}" class="test_a" href="/detail/?id={{post.id}}">{{ post.title }}</a>{{ post.date }}</td>
               </tr>
               <tr>
                   <td><p>{{ post.cate }}</p></td>
               </tr>
               <tr>
                   <td><p>{{ post.artical }}</p></td>
               </tr>
           </table>

       </div>
       {% endfor%}
       <br/>
   {% endblock%}
 <a id="add_test1" href="/">Return Home Page</a>
</body>

</html>